
div{
    padding-top:20px;
    padding-bottom:20px;
    text-align:center;
    
}

.centeredTextLarge {

    color:black;
    font-size:40px;
    padding-left:10px;
    padding-right:10px;
}


.centeredTextBold {
    
    color:black;
    font-size:20px;
    font-weight:bold;
    padding-left:10px;
    padding-right:10px;

}

.centeredTextMid {
    width:auto;
    color:black;
    font-size:20px;
    padding-left:10px;
    padding-right:10px;

}

.centeredTextSmall {
    width:auto;
    color:black;
    font-size:15px;
    padding-left:10px;
    padding-right:10px;

}

.centeredImage{
    width:400px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    border:3px solid black;
}

#logo {

    width: 400px;
    height: auto;
    text-align:left;
}

#detailImage{
    width:600px;
    height:auto;
    text-align:center;
    border: 3px solid black
}

#button{
    font-size: 20px;
    border:3px solid black;
    padding-left:20px;
    padding-right:20px;
}


.detailImage2{
    width:200px;
    height:auto;
    text-align:center;
    border:3px solid black;
}

.h:hover{
    background-color:yellow;

    margin-left:400px;
    margin-right:400px
}

.centeredTextBold:hover{
    background-color:yellow;
    margin-left:500px;
    margin-right:500px;
    
}

#button:hover{
    background-color:yellow;
}

    1